{% extends 'base.html' %}

{% load static %}

{% block title %}
Lista de area de Empleados
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container" style="background: rgb(157, 236, 210); height: 720px; width: 1200px; margin-top: 30px; ">
    <div class="grid x" >
        <div class="cell  ">
            <h1 class="cell" style="text-align: center;">Registro</h1>
            <form class="cell"  method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="success button" value="Guardar">
            </form>
        </div>
    </div>
</div>
{% include 'includes/footer.html' %}
{% endblock content %}